<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body,
        html {
            margin: 0;
            padding: 0;
            height: 100%;
            width: 100%;
        }

        p {
            word-wrap: break-word;
        }
    </style>
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    <main id="main">
        <h1 id="content-title">{% block content_title %}{% endblock %}</h1>
        {% block content %}{% endblock %}
        {% if error %}
        <p id="error">ERROR: {{ error }}</p>
        {% endif %}
    </main>
</body>

</html>