{% extends "base.html" %}
{% block title %}{{WEBSITE_NAME}} - Download{% endblock %}
{% block content_title %}Download{% endblock %}
{% block content %}
{% if file_metadata %}
<ul>
    <li>file: {{ original_filename }}</li>
    <li>type: {{ content_type }}</li>
    <li>size: {{ readable_size }}</li>
</ul>
{% endif %}
<form class="form-class" method="post" id="download-form" name="download_form">
    <input {% if download_key %} type="hidden" {% endif %} class="break-word" id="download-key" name="download_key"
        placeholder="Enter the download key" value="{{ download_key }}" required>
    <input type="hidden" id="csrf-token" name="csrf_token" value="{{ csrf_token }}" required>
    {% if file_metadata %}
    <input type="hidden" name="download_confirm" value="download_confirm" required>
    {% endif %}
    <input class="button submit" id="submit-button" type="submit"
        value="{% if file_metadata %}download{% else %}submit{% endif %}">
</form>
{% endblock %}