{% extends "base.html" %}
{% block title %}{{WEBSITE_NAME}} - Upload{% endblock %}
{% block content_title %}Upload{% endblock %}
{% block content %}
<form class="form-class" method="post" , enctype="multipart/form-data">
    <label for="file" class="file-upload button">
        <span>Select a file</span>
        <input type="file" name="file" id="file" required>
    </label>
    <input type="hidden" name="csrf_token" value="{{ csrf_token }}" required>
    <input class="button submit" type="submit" value="upload">
    {% if file_metadata %}
    <p>Download key: <span class="break-word" id="download-key">{{ file_metadata }}</span></p>
    {% endif %}
</form>
{% endblock %}