$couleur-fond: #3498db;
$couleur-texte: #ffffff;
$taille-bordure: 2px;
$radius-bordure: 4px;
body {
  margin: 10px;
  font-family: Helvetica, Arial, sans-serif;
  .form-class {
    position: relative;
    display: inline-block;
    .submit {
      display: block;
      margin-top: 10px;
    }
    #download-key {
      min-width: 500px;
      min-height: 100px;
      border: 1px solid #ccc;
      box-sizing: border-box;
    }
    .button {
      margin-top: 30px;
      padding: 10px 20px;
      background-color: $couleur-fond;
      color: $couleur-texte;
      border: $taille-bordure solid darken($couleur-fond, 10%);
      border-radius: $radius-bordure;
      text-decoration: none;
      font-size: 16px;
      font-weight: bold;
      cursor: pointer;
      transition: background-color 0.3s, color 0.3s;
      &:hover {
        background-color: lighten($couleur-fond, 10%);
      }
    }
    // .file-upload {
    //   display: inline-block;
    //   padding: 10px 15px;
    //   background-color: #3498db;
    //   color: #fff;
    //   cursor: pointer;
    //   border-radius: 5px;
    // }

    .file-upload input[type="file"] {
      display: none;
    }
  }
  .break-word {
    word-break: break-all;
    white-space: normal;
    // overflow: hidden;
  }
  #download-key {
    user-select: all;
  }
}

@media all and (max-width: 767px) {
  body {
    .form-class {
      display: block;
      #download-key {
        width: 100%;
        min-width: auto;
      }
    }
  }
}
